<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/style.css">


    


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <ul>
        <li><a href="http://localhost:5000/HomePage">Home</a></li>
        <li><a class="active" href="http://localhost:5000/services">Services</a></li>
        <li><a href="http://localhost:5000/contactUs">Contact US</a></li>
    </ul>
<div  class="background">
    <h1> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo provident harum aliquid perspiciatis quisquam. Corrupti iusto autem reprehenderit et! Vero optio soluta quae, voluptates illo expedita quia officia repellat facere.</h1>

<div class="header">
        <h1>Services page </h1>
       <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam corrupti voluptate mollitia aspernatur incidunt repellat expedita placeat facilis voluptas? Veritatis exercitationem nemo laudantium iste. Fuga molestiae id aliquid accusamus voluptatem. </p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam corrupti voluptate mollitia aspernatur incidunt repellat expedita placeat facilis voluptas? Veritatis exercitationem nemo laudantium iste. Fuga molestiae id aliquid accusamus voluptatem. </p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam corrupti voluptate mollitia aspernatur incidunt repellat expedita placeat facilis voluptas? Veritatis exercitationem nemo laudantium iste. Fuga molestiae id aliquid accusamus voluptatem. </p>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam corrupti voluptate mollitia aspernatur incidunt repellat expedita placeat facilis voluptas? Veritatis exercitationem nemo laudantium iste. Fuga molestiae id aliquid accusamus voluptatem. </p>
    </div>
</div>
    <div class="footer" style="
  
  text-align: center;
  background:rgba(34, 20, 117, 0.63);
  border-radius: 5px;
">
        <h2 >© 2021 © Copyright Powered By Dribek Chiheb</h2>
    </div>
</body>

</html>